    <div class = 'row form' style = 'text-align: centre'>
        <div class = 'col-md-4 offset-md-4'>
            <h>Sign up</h>
            <%= render 'form' %>
        </div>
        <div class = 'col-md-4 offset-md-4'>
            <%= button_to 'LogIn', '/login',method: 'get', class: 'link' %>
        </div>
    </div>
